asm/
generated/
imScripts/
invention/
journeymap/
logs/
mcdata/
resourcepacks/
saves/
schematics/
shaderpacks/
minetweaker.log
*.log
usernamecache.json
.mixin.out/
usercache.json
options.txt
optionsof.txt
crash-reports/
